.user1{
    display: flex;
    margin-left: 20px;
}
.user3{
    margin-left: 50px;
    border-radius: 10px;
    width: 400px;
    height: 30px;
    margin-top: 8px;
}
.user2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.user5{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.text1{
    width: 600px;
    height: 90px;
    border-radius: 10px;
    border-color: black ;
    margin-left: 30px;
}
.submit{
    margin-left: 270px;
    margin-top: 50px;
}
.center{
    margin-left: 400px;
    margin-top: 50px;
    border: 2px solid black;
    width: 700px;
    height: 670px;
    border-radius: 10px;
}
.language{
    margin-left: 30px;
}
.gender1{
    margin-left: 10px;
}
.register1{
    text-align: center;
}
.back{
    background-color: lightblue;
    width: 1450xpx;
    height: 700px;
}

.inmove{
    margin-left: 10px;
    display: flex;
}
.submit:hover{
    color: red;
}